<div class="card form-container text-white p-4 custom-modal-border">
  <div class="d-flex justify-content-between align-items-start mb-4">
    <div>
      <h2 class="form-title mb-1">Nouveau produit</h2>
      <p class="form-subtitle mb-0">Renseignez les informations de l'entrepôt.</p>
    </div>
    <button type="button" class="btn-close btn-close-white btn-sm" aria-label="Close" (click)="onAnnuler()"></button>
  </div>

  <form [formGroup]="form" (ngSubmit)="onAjouter()">

    <div class="mb-3">
      <label for="nom" class="form-label custom-label">Nom</label>
      <input type="text" id="nom" class="form-control custom-input" formControlName="nom" placeholder="Entrepôt Nord">
    </div>

    <div class="mb-3">
      <label for="quantite" class="form-label custom-label">Quantite</label>
      <input type="number" id="quantite" class="form-control custom-input" formControlName="quantite" placeholder="120">
    </div>

<select class="form-select bg-dark border-input text-white" formControlName="etat">
  <option [ngValue]="null" disabled>Sélectionner un état</option>
  <option value="disponible">Disponible</option>
  <option value="réservé">Réservé</option>
  <option value="périmé">Périmé</option>
</select>

    <!-- <div class="mb-4">
      <label for="warehouse" class="form-label custom-label">Warehouse</label>
      <input type="text" id="warehouse" class="form-control custom-input" formControlName="warehouse" placeholder="Entrepot Dakar">
    </div> -->

<div class="mb-4">
  <label class="form-label text-light small">Warehouse</label>
  <select
    class="form-select bg-dark border-input text-white"
    formControlName="warehouse">
    <option [ngValue]="null" disabled>Sélectionner un entrepôt</option>
    @for (e of entrepots(); track e.id) {
      <option [ngValue]="e.id">{{ e.nom }}</option>
    }
  </select>

  @if (form.get('warehouse')?.touched && form.get('warehouse')?.hasError('required')) {
    <small class="text-danger">L'entrepôt est obligatoire.</small>
  }
</div>

    <div class="d-flex justify-content-end align-items-center gap-2">
      <button type="button" class="btn btn-annuler" (click)="onAnnuler()">Annuler</button>
      <button type="submit" class="btn btn-ajouter" [disabled]="form.invalid">Ajouter</button>
    </div>

  </form>
</div>
